
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h2>Kullanıcı Listesi</h2>

<br />

<table class="table table-bordered table-primary table-hover">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    <tr>
        <td>#</td>
        <td>Gamze</td>
        <td>Karali</td>
        <td>Rize</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
        <td><a href="#" class="btn btn-warning">Detaylar</a></td>
    </tr>
    <tr>
        <td>#</td>
        <td>Gamze</td>
        <td>Karali</td>
        <td>İstanbul</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
        <td><a href="#" class="btn btn-warning">Detaylar</a></td>
    </tr>
    <tr>
        <td>#</td>
        <td>Gamze</td>
        <td>Karali</td>
        <td>Elazığ</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
        <td><a href="#" class="btn btn-warning">Detaylar</a></td>
    </tr>
</table>

